<!--
 * Title: not-found.html
 * Author: Erica Perry
 * Date: Feb 6 2021
 * Description: not-found.html
-->

<!-- the page title-->
<h2> 404 OHHH NO THIS PAGE IS NOT FOUND!</h2>

<div fxLayout="column">
    <!-- mat-card created -->
    <mat-card-content fxLayoutAlgin="center" fxLayout="column">
        <!-- referrencing the 404 image(where it's located) -->
        <img src="./assets/404.png" alt="Not Found" width="80%" align="center">
        <br>
    
           
   


        <!-- action towards home page submit button -->

       <!-- <button mat-rasied-button routerLink="/" color="primary">
            Home
        </button>

    </mat-card >
    
</div>-->