<!-- Title: login
 * Author: Erica Perry
 * Date:3/25/21
 * Description:  login
-->


<div fxlayout="column">

  <mat-card fxFlex class="mat-elevation-z8 login-container">

<!-- creating an employee with a form titled "Employee login form" -->
    <mat-card-title>Employee Login Form</mat-card-title><br />
    <mat-card-subtitle> You must enter a valid numerical employeeId to proceed.</mat-card-subtitle>


      <mat-card-content>
        <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutGap="10px">

<!-- configuring login form-->
          <form [formGroup]="loginForm" (ngSubmit)="login(); loginForm.reset()" #loginForm="ngForm">

            <mat-card-content>

              <mat-form-field fxFlex>
              <input matInput 
              [formControl]="loginForm.controls['empId']" 
              placeholder="Employee ID" />

            

            <mat-error *ngIf="loginForm.controls['empId'].hasError('reqiured') && loginForm.controls['empId'].touched">
              Employee ID is a required field.
            </mat-error>

            <mat-error *ngIf="loginForm.controls['empId'].hasError('pattern') && loginForm.controls['empId'].touched">
              Employee ID must have a numerical value.
            </mat-error>
      
       
      <!-- creating a submit buttion at the end of the app -->

      <mat-card-actions align="end">
        <button type="submit" 
        fxFlex mat-raised-button [disabled]="!loginForm.valid" 
        color="primary">Submit</button>
      </mat-card-actions>

